h1 {
    color:yellow;
    background-color:red;
}
h3 {
    font-size:22px;
    font-weight:900px;
}

ul {
    color:red;
    background-color:yellow;
}
ol{
    color:yellow;
    background-color:red;
}